<h1>Awesome ideas</h1>

<ul id="ideas">
<% @ideas.each do |idea| %>
  <a href="<%= url_for idea %>">
    <li class="idea">
      <%= image_tag(idea.picture_url, :width => 300, :height => 300) if idea.picture.present? %>
      <div class="detail">
        <h3><%= idea.name %></h3>
        <span><%= idea.description %></span>
      </div>
    </li>
  </a>
<% end %>
</ul>

<div id="actions">
  <%= link_to 'New Idea', new_idea_path %>
</div>
